@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  ---LightGrayishCyanBackground--: hsl(180, 52%, 96%);
  ---LightGrayishCyanFilterTablets--: hsl(180, 31%, 95%);
  ---DarkGrayishCyan--: hsl(180, 8%, 52%);
  ---VeryDarkGrayishCyan--: hsl(180, 14%, 20%);
  ---DesaturatedDarkCyan--: hsl(180, 29%, 50%);
}

body {
  background-color: var(---LightGrayishCyanBackground--);
  font-size: 15px;
  position: relative;
  font-family: "League Spartan", sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header-box {
  background-color: var(---DesaturatedDarkCyan--);
  background-image: url(/images/bg-header-desktop.svg);
  height: 150px;
}

.jobs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.company {
  width: 800px;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.extra {
  border-left: 5px solid var(---DesaturatedDarkCyan--);
  border-radius: 10px;
}

.job-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-right: 30px;
}

.more-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 1px;
}

.job-req {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.technology {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.technology-btn {
  background-color: var(---LightGrayishCyanBackground--);
  color: var(---DesaturatedDarkCyan--);
  border: none;
  height: 30px;
  width: 70px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.job-role {
  background-color: var(---LightGrayishCyanBackground--);
  color: var(---DesaturatedDarkCyan--);
  border: none;
  height: 30px;
  width: 70px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.tool-btn {
  background-color: var(---LightGrayishCyanBackground--);
  color: var(---DesaturatedDarkCyan--);
  border: none;
  height: 30px;
  width: 70px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.company-name {
  color: var(---DesaturatedDarkCyan--);
  font-weight: 500;
}

.new {
  width: 50px;
  height: 20px;
  text-align: center;
  background-color: var(---DesaturatedDarkCyan--);
  color: white;
  border-radius: 30px;
  padding: 3px 3px 3px 3px;
}

.featured {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 8px 8px 8px 11px;
}

.filtered-Box {
  width: 950px;
  height: 55px;
  border-radius: 10px;
  top: 6%;
  left: 10%;
  right: 10%;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
}

.filter-btn {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 19px;
  margin-bottom: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(---DesaturatedDarkCyan--);
}

.filter-btn:hover {
  text-decoration: underline;
}

.selected-filter {
  width: 100px;
  height: 30px;
  background-color: var(---LightGrayishCyanBackground--);
  text-align: center;
  padding: 1px 1px 1px 1px;
  color: var(---DesaturatedDarkCyan--);
  display: flex;
  gap: 70px;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.remove {
  background-color: var(---DesaturatedDarkCyan--);
  position: absolute;
  width: auto;
  height: 30px;
  width: 30px;
  left: 75px;
  padding: 7px 7px 7px 7px;
  cursor: pointer;
  border: none;
}

.me {
  margin-top: 10px;
  margin-bottom: 10px;
}

.coding-ninja {
  text-decoration: none;
  text-align: center;
  color: var(---DesaturatedDarkCyan--);
}

@media screen and (max-width: 768px) {
  .filtered-Box {
    width: auto;
    flex-wrap: wrap;
  }

  .jobs {
    margin-left: 10px;
    margin-right: 10px;
  }

  .company {
    width: auto;
  }

  .technology {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 520px) {
  .header-box {
    background-image: url(/images/bg-header-mobile.svg);
    background-repeat: no-repeat;
  }

  .filtered-Box {
    width: 280px;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    padding: 3px 3px 3px 3px;
    top: 3%;
    left: 10%;
    right: 10%;
  }

  .jobs {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .company {
    width: auto;
    height: auto;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    gap: 30px;
    padding: 3px 3px 3px 3px;
  }

  .job-details {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .company-image {
    position: relative;
    top: 0%;
    right: 25%;
  }

  .technology {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 912px) {
  .filtered-Box {
    width: auto;
    flex-wrap: wrap;
    height: max-content;
  }
}
